<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>

<div class="container mt-2">
    <div class="list-group" style="max-width: 480px;">
        
        <a [routerLink]="['/sections/f1-standings']" href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="fw-bold">Web scraping of: ESPN Formula 1 standings</div>
            Web scraping, Puppeteer C#, SignalR
        </a>        
        <a href="#" class="list-group-item list-group-item-action disabled" aria-current="true">
            Users, Roles, JWT
        </a>              
        <a href="#" class="list-group-item list-group-item-action disabled" aria-current="true">
            Puyo puyo
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled" aria-current="true">
            More features
        </a>            
    </div>
</div>

<div class="mt-4 text-start">
    <span class="fw-bold">Ping response: </span><span class="text-muted">{{ pingResponse }}</span>
</div>