<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>

<div class="container mt-2">
    <div class="list-group" style="max-width: 480px;">
        <a [routerLink]="['/sections/f1-standings']" href="#" class="list-group-item list-group-item-action" aria-current="true">
            Web scraping to ESPN Formula 1 Standings
        </a>        
        <a href="#" class="list-group-item list-group-item-action disabled" aria-current="true">
            Super form
        </a>              
        <a href="#" class="list-group-item list-group-item-action disabled" aria-current="true">
            Puyo puyo
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled" aria-current="true">
            Another features
        </a>            
    </div>
</div>

<div class="mt-4 text-start">
    <span class="fw-bold">Ping response: </span><span class="text-muted">{{ pingResponse }}</span>
</div>