<div class="table-responsive">
    <table class="table table-bordered mt-2 mb-2">
        <thead class="table-light">
            <tr>
                <th style="white-space:nowrap;" [width]="'1%'">Actions</th>
                <th style="white-space:nowrap;" [width]="'50%'" scope="col">Type</th>
                <th style="white-space:nowrap;" [width]="'50%'" scope="col">Year</th>
                <th style="white-space:nowrap;" [width]="'1%'" scope="col">Event at</th>
            </tr>
        </thead>        
        <tbody>            
            @if(errorMessage != null)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        <div  class="alert alert-danger mt-4 ml-4 mr-4" role="alert">
                            {{ errorMessage }}
                        </div>
                    </td>
                </tr>
            }
            @if(response != null && response.success && response.data.length == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        No data available
                    </td>
                </tr>
            }
            @if(response != null && response.success && response.data.length > 0)
            {
                @for (item of response.data; track item)
                {
                    <tr>
                        <td style="white-space:nowrap;" class="text-center">
                            <a [routerLink]="['/sections', 'f1-standings', 'details', item.type, item.year]">View</a>
                            @if (currentYear == item.year) {
                                &bullet;
                                <a [routerLink]="['/sections', 'f1-standings', 'editor', item.type, item.year]">Redo</a>
                            }
                        </td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.year }}</td>
                        <td style="white-space:nowrap;">{{ item.eventAt | date:'dd/MM/yy, hh:mm:ss a' }}</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>