<div class="row">
    <div class="col-sm-6">
        @if (navigationData.options.length == 1)
        {
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-light border" (click)="onNavigationClicked($event, navigationData.options[0]);" [ngClass]="{'disabled': navigationData.options[0].disabled}">
                    {{ navigationData.options[0].text }}&nbsp;&nbsp;<span><i class="{{ navigationData.icon }}"></i></span>
                </button>
            </div>
        }         
        
        @if (navigationData.options.length > 1)
        {
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btn_orderGroup" type="button" class="btn btn-light border dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span><i class="{{ navigationData.icon }}"></i></span>&nbsp;
                    </button>
                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="btn_orderGroup">
                        @for (item of navigationData.options; track item.value) {
                            <li>
                                <a class="dropdown-item cursor-pointer" [ngClass]="{'disabled': item.disabled}" (click)="onNavigationClicked($event, item)">{{ item.text }}</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }            
    </div>    
    <div class="col-sm-6 text-end">

        @if(filterData.length > 0)
        {
            <button type="button" class="btn btn-light border" (click)="onFilterClicked()" >
                <span><i class="fa-solid fa-sliders"></i></span>&nbsp;
            </button>

            <div class="btn-group" role="group">
                <div class="ms-1"></div>
            </div>
        }

        @if(orderData != null && orderData.options != null && orderData.options.length > 0) {
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btn_orderGroup" type="button" class="btn btn-light border dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btn_orderGroup">
                        @for (item of orderData.options; track item.value; let i = $index) {
                            <li>
                                <a class="dropdown-item cursor-pointer" [ngClass]="{'disabled': item.disabled}" (click)="onOrderOptionClicked($event, i)">{{ item.text }} 
                                    <span *ngIf="isOrderOptionSelectedClicked(item.value)">&nbsp;&#9679;</span>
                                </a>
                            </li>
                        }                       
                    </ul>
                </div>
                <button type="button" class="btn btn-light border" (click)="onOrderSortClicked($event);">
                    <span *ngIf="this.orderSelected.isAscending"><i class="fa-solid fa-arrow-down-short-wide"></i></span>
                    <span *ngIf="!this.orderSelected.isAscending"><i class="fa-solid fa-arrow-down-wide-short"></i></span>
                </button>            
            </div>  

            <div class="btn-group" role="group">
                <div class="ms-1"></div>
            </div>
        }


        <div class="btn-group" role="group">
            <button type="button" class="btn btn-light border" (click)="onSyncClicked($event);">
                <span><i class="fa-solid fa-rotate"></i></span>
            </button>
        </div>

    </div>

    <div class="col-12 mt-2 mb-2 border border-1">
        <ng-content></ng-content>
    </div>

    <div class="col-12 text-end">
        paginacion
    </div>
</div>

<div class="offcanvas offcanvas-end data-bs-scroll" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Filtros</h5>
        <button type="button" #closeFilterModal class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="onFilterCloseClicked($event)"></button>
    </div>
    <div class="offcanvas-body">
        <div class="text-start">
            @for (filter of filterData; track filter.section) {
                <h6>{{ filter.section }}</h6>
                <ng-container *ngFor="let ex of filter.extra">
                    <span class="border" [ngClass]="{ 'filter-opt-checked': ex.param3, 'filter-opt-not-checked': !ex.param3}" (click)="onFilterElementClicked($event, filter.section, ex)">
                        {{ ex.param2 }}
                        <span *ngIf="ex.param3"><i class="fa-solid fa-check"></i></span>
                        <span *ngIf="!ex.param3"><i class="fa-solid fa-xmark"></i></span>
                    </span>&nbsp;
                </ng-container>                
            }          
        </div>        
        <div>
            <hr>
        </div>
        <div class="text-end mt-2">
            <button type="button" class="btn btn-secondary me-1" (click)="onFilterCloseClicked($event)">Cerrar</button>
            <button type="button" class="btn btn-primary ms-1" (click)="onFilterOkClicked($event)">Aplicar</button>
        </div>
    </div>
</div>

<button #openFilterModal class="btn btn-primary collapse" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    Toggle static offcanvas
</button>





































<br><br><br><br><br>
<pre>{{ filterData | json }}</pre>

<!-- 
<div class="bolder border-1 rounded p-2 mb-2">
    <button (click)="notify()">Basic</button>
    <p>paginator top</p>
    <ng-content></ng-content>
    <p>paginator bottom</p>
</div> 
-->