<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>

@if(errorMessage != null)
{
    <div colspan="4" class="text-center">
        <div  class="alert alert-danger mt-4 ml-4 mr-4" role="alert">
            {{ errorMessage }}
        </div>
    </div>
} @else if (response != null && response.success) {
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="white-space:nowrap;">D/C</th>
                    <th style="white-space:nowrap;">Points</th>
                    @for(item of response.data.rows; track item) {
                        <th style="white-space:nowrap;">{{ item }}</th>
                    }             
                </tr>
            </thead>
            <tbody>
                @for(itemR of response.data.points; track rowIndex; let rowIndex = $index) {                    
                    <tr>                        
                        @for(itemC of itemR; track colIndex; let colIndex = $index) {
                            @if(colIndex === 0) {
                                <td style="white-space:nowrap;" [title]="response.data.columns[rowIndex].abbreviation">
                                    {{ getPositionFixed(response.data.columns[rowIndex].position) }}
                                    <img [src]="response.data.columns[rowIndex].image">
                                    {{ response.data.columns[rowIndex].name }}
                                </td>
                                <td style="background-color: beige;">{{ sum(itemR) }}</td>
                            }                            
                            <td>{{ itemC }}</td>
                        }
                    </tr>
                }
            </tbody>        
        </table>
    </div>
}